{% include head.html %}

<header class="block block-header-2">

    <div id="" class="block-header-2--logo">
      <a href="https://pratiman-91.github.io/">
        <img src="/uploads/2018/06/21/forestry-full.png" alt="Pratiman Homepage">
      </a>
    </div>
  
    <nav class="block-header-2--nav">
      <ul>
          
          <li id="" class="nav-item "><a href="/">Home</a></li>
          
      </ul>
      <a id="" class="button primary small block-header-2--cta" href="/blog">Blog</a>
    </nav>
  
</header>

<section class="block block-hero-3">
  <div class="container">
    <h1><span class="light"><strong>{{- page.title -}}</strong></span></h1>
  </div>
</section>

  <section id="" class="block block-text-1">
    <div class="container" >
      <div class="columns">
        <div class="column headline">
          <h3><strong>{{- page.title -}}</strong></h3>
          <p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
          {% include read_time.html content=content %}

          <div class="share-box">
            <h5>Share this:</h5>
            
            <a class="f" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
            'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fab fa-facebook"></i><span></span></a>
            
            <a class="t" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
            'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"><i class="fab fa-twitter"></i><span></span></a>
            
            <a class="g" href="https://plus.google.com/share?url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
            'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fab fa-google-plus"></i><span></span></a>
            
            <a class="r" href="http://www.reddit.com/submit?url={{ site.url }}{{site.baseurl}}{{ page.url }}" onclick="window.open(this.href, 'mywin',
            'left=20,top=20,width=900,height=500,toolbar=1,resizable=0'); return false;" ><i class="fab fa-reddit"></i><span></span></a>
            
            <a class="l" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{site.baseurl}}{{ page.url }}&title={{ page.title }}&summary={{ page.desc }}&source=webjeda" onclick="window.open(this.href, 'mywin',
            'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" ><i class="fab fa-linkedin"></i><span></span></a>
            
            <a class="e" href="mailto:?subject={{ page.title }}&amp;body=Check out this site {{ site.url }}{{site.baseurl}}{{ page.url }}"><i class="fa fa-envelope fa"></i><span></span></a>                          
            
            <a class="f" href="https://feedburner.google.com/fb/a/mailverify?uri=PratimanBlogs&amp;loc=en_US" onclick="window.open(this.href, 'mywin',
          'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" >
            <i class="fa-rss fa"></i>
            </a>
          </div>  
        </div>
        <div class="column text">
            {{- content -}}

            <div class="column text">
              If you would like to provide any suggestions to this post. Kindly email me at <a href="mailto:pratiman_patel@hotmail.com?Subject={{ page.title }}">pratiman_patel@hotmail.com</a>
            </div>

            <div class="post-nav">
              <p>
                {% if page.previous.url %}
                <a href="{{page.previous.url}}">&#8672;&nbsp;{{page.previous.title}}</a>
                {% endif %}
              </p>
              <p>
                {% if page.next.url %}
                <a href="{{page.next.url}}">{{page.next.title}}&nbsp;&#8674;</a>
                {% endif %}
              </p>
            </div>
        <script src="https://utteranc.es/client.js"
        repo="pratiman-91.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
            
</script>
            
        </div>
        
        
        
      </div>
    </div>
  </section>




  {% include footer.html %}
